body {
  font-family: "Montserrat", serif;
  color: #512e40;
  background-color: #f6f3e3;
  text-align: center;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Capriola", serif;
  font-weight: 900;
}

p {
  margin: 2% 10%;
  color: #8f8f8f;
  font-size: 1.3rem;
}

hr {
  border: dotted #512e40 6px;
  border-bottom: none;
  width: 2%;
}

/* Containers */

.soap-logo {
  width: 300px;
}

.container-fluid {
  padding: 3% 15%;
}

/* Navigation Bar */

.navbar {
  padding: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Capriola", serif;
  font-weight: 400;
}

/* Title Section */

#title .container-fluid {
  padding: 3% 15% 0%;
  text-align: center;
}

/* Articles */

.section-heading {
  font-size: 3rem;
  font-family: "Capriola", serif;
  font-weight: 900;
  line-height: 1.5;
}

.articleColumn {
  padding: 3% 2%;
}

#articles {
  padding: 80px;
}

/* Footer Section */

.social-icons {
  margin: 20px 10px;
  color: #4b4949;
}

.social-icons:hover {
  color: #8f8f8f;
}

.copyright {
  font-size: 1rem;
}

/* BLOG PAGES */

.back-to-blog {
  margin: 50px 10px;
}

@media screen and (max-width: 770px) {
  .soap-logo {
    width: 170px;
  }

  p {
    font-size: 1rem;
  }

  .section-heading {
    font-size: 1.5rem;
    line-height: 1;
  }

  .article-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 320px) {
  .soap-logo {
    width: 150px;
  }
}
