body {
  font-family: "Montserrat", serif;
  text-align: center;
  background-color: #f6f3e3;
  color: #512e40;
  overflow-x: hidden;
}

h1,
h2,
h5 {
  font-family: "Capriola", serif;
  font-weight: 900;
}

p {
  margin: 2% 10%;
  color: #8f8f8f;
  font-size: 1.3rem;
}

hr {
  border: dotted #512e40 6px;
  border-bottom: none;
  width: 4%;
  margin-left: 48% !important;
  margin-right: 50% !important;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 2rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Capriola", serif;
  font-weight: 400;
}

.soap-logo {
  width: 300px;
}

.container-fluid {
  padding: 3% 15%;
}

/* Soaps */

.section-heading {
  font-size: 3rem;
  font-family: "Capriola", serif;
  font-weight: 900;
  line-height: 1.5;
  padding: 20px;
}

input {
  border: 1px solid #cccccc;
  font-weight: bold;
  height: 33px;
  text-align: center;
  width: 30px;
}

.container {
  padding: 20px 30px 100px;
  /* margin-top: 25px;
  margin-bottom: 100px; */
}

label {
  margin-top: 20px;
}

.back-to-shop {
  margin: 60px 0 30px;
}

/* BLOG PAGES */

.back-to-blog {
  margin: 50px 10px;
}

/* Footer Section */

.social-icons {
  margin: 20px 10px;
  color: #4b4949;
}

.social-icons:hover {
  color: #8f8f8f;
}

.copyright {
  font-size: 1rem;
  margin-top: 20px;
}

@media screen and (max-width: 770px) {
  .section-heading {
    font-size: 1.5rem;
    line-height: 1;
  }

  #title .container-fluid {
    padding-top: 10px;
    padding-bottom: 0;
    padding-right: 30px;
    padding-left: 10px;
  }

  .navbar {
    padding-bottom: 0;
  }

  .container {
    margin-top: 0;
  }

  p {
    font-size: 1rem;
  }

  .soap-logo {
    width: 150px;
  }

  h2 {
    font-size: 1.5rem;
  }

  .carousel {
    margin: 50px;
  }

  .navbar-toggler-icon {
    width: 30px !important;
  }

  .navbar-toggler {
    padding: 1px !important;
    border: 0 !important;
  }

  .copyright {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 990px) {
  .navbar-toggler-icon {
    width: 30px !important;
  }

  button {
    padding: 1px !important;
    border: 0 !important;
  }
}
